<!DOCTYPE html>
<html>
<head>
  <title>StatusReport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <div>
	<div style="width:200px;float:left;clear:both">
	  <ul>
	    <li> <a class="add" href="add">Add</a> </li>
	    <li> <a class="update" href="update">Update</a> </li>
	    <li> <a class="view" href="view">View</a> </li>
	    <li> <a class="viewall" href="viweall">View All</a> </li>
	  </ul>
	</div>
	<div style="width:850px;float:left;">
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

<% if user_signed_in? %>
</div>
</div>
<% end %>
</body>
</html>
